@media ( max-width: 1200px )
  .container
    max-width: 960px
  .slider
    width: 590px
  .hotel
    &-slider
      &__image
        height: 100%
        object-fit: cover
    &-slidr
      height: 100%
  .card
    height: 230px
    width: 230px
  .footer
    &__input
      flex-basis: 100%
  .mini
    display: none
  .packages
    &-wrapper
      display: grid
      grid-template-columns: repeat(2, minmax(min-content, 1fr))
      grid-gap: 30px
      grid-auto-rows: minmax(40px, min-content)
  .infocard
    &__big
      &-photo
        min-width: 475px
@media ( max-width:992px  )
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top 
      padding-top: 30px 
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 23px 
      &__link
        font-size: 12px
        line-height: 15px
  .footer
    &-wrapper
      grid-template-columns: repeat(12, minmax(max-content, 1fr))
      grid-row-gap: 15px
    &__input
      flex-basis: 47%
    &__logo
      grid-row: 1 / 2
      grid-column: span 3
      margin-top: 0
    &__legal
      margin-left: 0  
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 8
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 3
    &__additional
      grid-column: span 5
      margin-left: 20px
    &__legal
      grid-column: span 4
    &__contact
      &-details
        grid-row: 3
        grid-column: span 10
      &-form
        grid-row: 4
        grid-column: span 12
    &__policy
      grid-column: span 12
  .search
    &__input
      width: 340px
  .hotel
    &-wrapper
      width: 90%
    &-grid 
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      margin-left: 0
    &-slider
      width: 100%
      height: 100%
  .booking
    width: 340px
  
  .map
    width: 347px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
  .card
    width: 339px
    height: 255px
    margin-top: 20px
    &__title
      padding-right: 80px
  .footer    
    
    &__policy
      &-list
        padding-left: 0
        min-width: 280px
  .packages
    &__infocard
      &__button
        margin-top: 10px
  .infocard
    &__big
      &-photo
        min-width: 366px     


@media ( max-width:768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-menu
      &__item
        &--mobile
          &--visible
            display: block
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 24px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
  .menu
    &-button 
      display: flex
      height: 11px
      width: 16px
      padding: 0
      border: none
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 15px
  .hotel
    &-info
      &__rating
        display: none
    &-information
      &__offer
        order: -1
        margin-left: 0
      &__name
        flex-basis: 100%
        margin-top: 10px
        flex-basis: 100%
    &-wrapper
      justify-content: space-between
      width: 100%
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 100%
  .booking
    width: 100%
  .map
    width: 100%
  .stars
    flex-basis: auto
    right: 0
  .newsletter
    &-wrapper 
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before 
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
    &__title
      font-size: 30px
      line-height: 38px
  .card
    width: 49%
    height: 255px
    &__title
      padding-right: 25px
  .activities
    padding-top: 40px
    padding-bottom: 60px  
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: 1fr
      grid-column-gap: 0
      margin: 0
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        display: block
      &-links
        max-width: 83px
        margin-top: 22px
    &__additional
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__policy
      grid-row: 8
      grid-column: 1
      &-wrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2, 1fr)
    &__pay
      grid-row: 2
  .packages
    &-wrapper
      grid-template-columns: 1fr
      grid-column-gap: 0
      margin: 0
    &__infocard
      grid-column: 1
      flex-direction: column
      &__right
        border-radius: 0px 0px 8px 0px
  .infocard
    &__big
      &-photo
        width: 100%
        height: 100%
        object-fit: cover
        overflow: hidden
        border-radius: 8px 8px 0 0

    
@media ( max-width: 576px )
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
      
    &-slider
      height: 100%
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
    &__image
      width: 100%
    &__title
      padding-right: 25px
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-column-gap: 0
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        display: block
      &-links
        max-width: 83px
        margin-top: 22px
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__policy
      grid-row: 8
      grid-column: 1
      &-wrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2, 1fr)
    &__pay
      grid-row: 2
    &__input
      flex-basis: 100%
  .packages
    &__infocard
      border-radius: 8px 8px 0px 8px
@media ( max-width: 375px )
  .slider
    max-height: 179px
  .newsletter
    padding-top: 106px
    
    &__title
      font-weight: 300
      font-size: 20px
      line-height: 25px
    &-title
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &__subscribe
      width: 100%
  .card
    width: 100%
    &__title
      padding-right: 45px
  .footer
    padding-top: 62px
    margin-bottom: 22px
    &__contact
      &-details
        max-width: 300px
    &__social
      &-links
        max-width: 83px
        margin-top: 22px
    &__button
      flex-basis: 100%
      width: 100%
      order: 1
      margin-top: 15px
    &__message
      columns: 20
  .packages
    &__title
      font-size: 30px
      text-align: start
  
/* ( max-width: 320px)
 .container
 width: 90%
 .logo
 height: 13.42px
 width: 99px
 &__image
 width: inherit
 .menu-button
 height: 9px
 .navbar
 &-bottom
 display: none   
 &__search
 display: none
 margin-bottom: 31px
 .mini 
 display: flex
 flex-direction: column
 align-items: center
 .navbar
 &__search
 width: 80%
 height: 40px
 position: relative
 right: 0
 &__user
 align-items: center
 margin: auto
 margin-top: 31px
 text-decoration: none
 .user__name
 margin-top: 10px
 margin-bottom: 27px
 margin-left: 0
 color: $light
 .user__avatar
 margin-top: 31px
 .navbar-menu__item
 margin-bottom: 20px
 .search
 &__button
 position: absolute
 border-top-right-radius: 6px
 border-bottom-right-radius: 6px
 &__input
 width: 100%
 border-radius: 6px
 */
      
