.hotel
  padding: 23px 70px
  &-about
    &__left
      display: flex
      justify-content: space-between
      flex-wrap: wrap
  &-information
    display: flex
    justify-content: space-between
    align-items: center;
    &__offer
      font-size: 10px
      line-height: 13px
      width: 70px
      margin-left: 14px
      background-color: $primary
      padding: 4px 9px
      color: $light
      border-radius: 3px
  &-wrapper
    display: flex
    align-items: center;
    flex-wrap: wrap
    width: 50% 
  &-name
    font-size: 24px
    line-height: 30px
    margin: 0
  &-content
    margin: 0
    font-size: 12px;
    line-height: 15px;
  &-info
    display: flex
    justify-content: space-between
    &__rating
      display: flex
      flex-wrap: wrap
      justify-content: center
      max-width: 65px
      min-height: 45px;
      padding: 9px 6px
      border-radius: 4px
      background-color: $primary
      color: $light
.rating
  &__text
    font-size: 8px
    line-height: 10px
    margin-bottom: 2px
  &__counter
    font-size: 14px;
    line-height: 18px;
.stars
  flex-basis: 100%
  margin-bottom: 5px
